.App {
    min-height: 100vh;
    color: white;
    background-color: #5c8ae6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas-clima {
  padding: 50px 0;
}
.temp-actual {
  font-size: 80px;
  text-align: center;
  margin:0;
}
.temp-max-min{
  font-size: 15px;
}

.selector-capital{
  background-color: #fff;
  padding: 10px 5px;
  border-radius: 10px;
}
.appLoading{
  z-index:999;
	background-color:rgba(255, 255, 255, 0.596);
	width:100%;
	height:100%;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-flow:column nowrap;
	flex-flow:column nowrap;
	-ms-flex-pack:distribute;
	justify-content:space-around;
	position:fixed;
	top:0;
	left:0;
}
.gif-loading-content{
  width: 100px;
}

.gif-loading-content img {
  width: 100%;
  border-radius: 50px;
}